<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section id="app">
            <input v-model="search"/>
            <button @click="doSearch" type="button">search</button>
            <ol>
                <li v-for="user in users">{{user.name}}</li>
            </ol>
        </section>


        <script type="importmap">
            { "imports": {
                "vue":               "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.esm-browser.prod.js",
                "vue-router":        "https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.1.5/vue-router.esm-browser.min.js",
                "@vue/devtools-api": "https://unpkg.com/@vue/devtools-api@6.4.5/lib/esm/index.js"
            } }
          </script>
        <script src="app.js" type='module'></script>
    </body>
</html>